@layer base {
    button {
        @apply btn;
    }
}

@utility btn {
    @apply cursor-pointer px-4 py-2 rounded-lg text-base border text-center text-white w-fit;
    background-color: var(--local-color);
    border-color: var(--local-color);

    @variant disabled {
        --local-color: --alpha(var(--color-base)/50%);
        cursor: not-allowed;
    }
    @variant hover {
        @variant not-disabled {
            @variant not-active {
                --local-color: --alpha(var(--color-base)/90%);
            }
        }
    }
}

@utility btn-* {
    --color-base: --value(--color-*);
}