@import "tailwindcss";
@import "./link.css";
@import "./button.css";
@import "./typography.css";
@import "./swiper.css";

@theme {
    --color-primary-main: #3A643B;
    --color-primary-50: #EAF2EA;
    --color-primary-100: #9DB29D;
    --color-background-default: #FFF7E2;
    --color-secondary-100: #E9DFCA;
    --color-secondary-200: #EADFC3;

}

@layer base {
    html,
    body {
        @apply bg-background-default;
    }

    header {
        @apply z-10;
    }

}

.custom-gradient-1 {
    background: linear-gradient(180deg, #0B0B0B 0%, rgba(11, 11, 11, 0.79) 100%);
}
