@import "@mantine/core/styles.css";
@import "tailwindcss";
@import "./swiper.css";

@theme {
    --header-height: 74px;
}

@utility calc-height-* {
    --total-height: calc(--value(integer) * 1vh);
    height: calc(var(--total-height) - var(--header-height));
}